<p>Hi, I'm Jen. I'm a designer, pattern maker and small business owner living and working in Cape Town.</p>

<h2>Find me online</h2>
<ul>
  <li>I'm the founder of <a href="https://afternoon.co.za">Afternoon</a>, an independent sewing pattern company offering a selection of carefully crafted sewing patterns and accessories.</li>
  <li>My <a href="https://behance.com/jenniferjacobs/">online portfolio</a> contains a small selection of my latest design work in the publishing and tech industry.</li>
</ul>

<hr />

<p>If you need more info, please <a href="mailto:jenny@afternoon.co.za"> email me</a></p>

<a href="https://instagram.com/afternoonpatterns"><span class="fa fa-instagram main-list-item-icon"></span></a>

<a href="https://www.linkedin.com/in/jennifersjacobs/"><span class="fa fa-linkedin main-list-item-icon"></span></a>