<h2>About </h2>
<p>Hello, I'm Jenny. I am a pattern maker, designer and small business owner living in Cape Town.</p>

<h2>Find me elsewhere online</h2>
<ul>
  <li><a href="https://www.afternoon.co.za" target="_blank">Afternoon</a> is the indie sewing pattern label of which I am founder and designer. I offer carefully crafted sewing patterns and accessories for the modern maker.</li>
  <li>My <a href="https://www.behance.net/jenniferjacobs" target="_blank">online portfolio</a> contains a small selection of my latest design work. I currently work as a layout designer in the publishing and tech industry.</li>
</ul>

<hr />

<span>If you would like to get in touch, please <a href="mailto:jenny@afternoon.co.za">email me</a></span>

<span>
<a href="https://instagram.com/afternoonpatterns" target="_blank"><span class="fa fa-instagram main-list-item-icon"></span></a>
<a href="https://linkedin.com/in/jennifersjacobs" target="_blank"><span class="fa fa-linkedin-square main-list-item-icon"></span></a>
</span>